body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
	font-size: 100%;
}

.header {
	background: #fff;
	border-bottom: 3px solid #467487;
	height: 60px;
	padding: 10px;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.header .devecihive-logo-text {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgaGVpZ2h0PSIxNjgiIHdpZHRoPSI1NDAiIHZlcnNpb249IjEuMSIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIj48bWV0YWRhdGE+PHJkZjpSREY+PGNjOldvcmsgcmRmOmFib3V0PSIiPjxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PjxkYzp0eXBlIHJkZjpyZXNvdXJjZT0iaHR0cDovL3B1cmwub3JnL2RjL2RjbWl0eXBlL1N0aWxsSW1hZ2UiLz48ZGM6dGl0bGUvPjwvY2M6V29yaz48L3JkZjpSREY+PC9tZXRhZGF0YT48ZGVmcz48Y2xpcFBhdGggaWQ9ImNsaXBQYXRoMjk5OSIgY2xpcFBhdGhVbml0cz0idXNlclNwYWNlT25Vc2UiPjxwYXRoIGQ9Ik0wLDEzNCw0MzIsMTM0LDQzMiwwLDAsMCwwLDEzNHoiLz48L2NsaXBQYXRoPjxjbGlwUGF0aCBpZD0iY2xpcFBhdGgzMDA5IiBjbGlwUGF0aFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0ibS01Mi40LDE1LjEsMTA1LDAsMC0zMC4yLTEwNSwwLDAsMzAuMnoiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyB0cmFuc2Zvcm09Im1hdHJpeCgxLjI1LDAsMCwtMS4yNSwwLDE2Ny41KSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXBQYXRoMjk5OSkiPjxnIHRyYW5zZm9ybT0ibWF0cml4KDMuOTc2NzMwMywwLDAsLTMuOTc2NzMwMywyMTUuOTUwNjgsNjcuMTAzNTE2KSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXBQYXRoMzAwOSkiPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI4LjIyODUsLTAuMTAwNikiPjxwYXRoIGQ9Im0wLDAtNC42LDAsMCw1LjE4LTIuMDEsMCwwLTExLjIsMi4wMSwwLDAsNC44OSw0LjYsMCwwLTQuODksMi4wMSwwLDAsMTEuMmgtMi4wMXYtNS4xOHoiIGZpbGw9IiM0Njc0ODciIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNC43NzM5LC01Ljg2MjMpIj48cGF0aCBkPSJtMCwwYzAsMC42NjktMC4zOTEsMS4xOS0xLjE5LDEuMTktMC43MzEsMC0xLjE0LTAuNTE5LTEuMTQtMS4xNCwwLTAuNjg2LDAuMzkxLTEuMiwxLjE5LTEuMiwwLjczMSwwLDEuMTQsMC40ODUsMS4xNCwxLjE2IiBmaWxsPSIjNDY3NDg3IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzIuNTQxNSwzLjE3NjgpIj48cGF0aCBkPSJtMCwwLDAtNi4xNSwyLjAxLDAsMCw1Ljk2YzAsMC41MTgsMC4xMywwLjcwOCwwLjQ1MywwLjcwOCwwLjA4NCwwLDAuMjMxLDAsMC4zMTYtMC4wMTgsMC4wNTEsMCwwLjExNiwwLDAuMTY3LTAuMDE3bDAuMjExLDEuMjJjLTAuMDg1LDAuMDUxLTAuMTgzLDAuMDg0LTAuMzAzLDAuMTE4LTAuMjAzLDAuMDY3LTAuNjA3LDAuMTE3LTEuMDEsMC4xMTctMS4yMSwwLTEuODQtMC44MTctMS44NC0xLjk0IiBmaWxsPSIjNDY3NDg3IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDMuOTEwNiwtMi45NzU2KSI+PHBhdGggZD0iTTAsMGMwLjAxNywwLDAuMDY5LDAuMTQ0LDAuMTAzLDAuMzI3LDAuMDUxLDAuMzE5LDAuMDg1LDAuNzE5LDAuMDg1LDEuMTQsMCw0Ljk0LTEuNDYsNi42Ny00LjY0LDYuNjctMC43NjQsMC0xLjM0LTAuMjE0LTEuNzctMC42MzMtMC40NzYtMC40NjktMC43MTMtMS4xMi0wLjcxMy0yLjE1bC0wLjAwNi01LjM1aDEuNnY1LjE5YzAsMC45MzcsMC41LDEuNTYsMS4zLDEuNTYsMS42MSwwLDIuMTctMi41OSwyLjE3LTUuMTQsMC0wLjQ2OC0wLjAxMS0wLjgxOC0wLjA2MS0xLjItMC4wMzQtMC4yMTgsMC4wMTUtMC40MTEtMC4wMDItMC40MTFoMS45M3oiIGZpbGw9IiM0Njc0ODciIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0OS4zOTc1LC0yLjE2NDEpIj48cGF0aCBkPSJtMCwwYzAuNjEyLDAsMS4wNCwwLjQwMSwxLjA0LDEuMDUsMCwwLjc2OS0wLjgzMiwxLjc0LTIuOTYsMS43OSwwLjA1MS0xLjM2LDAuNDI1LTIuODQsMS45Mi0yLjg0bTEuNTgsNS42NmMtMC40NzYsMC4xNTEtMS4wOSwwLjI4NC0xLjU4LDAuMjg0LTEuMzIsMC0xLjczLTAuODUyLTEuODctMS44NywyLjk5LTAuMDQ5LDQuODYtMS4zOSw0Ljg2LTMuMDEsMC0xLjM0LTAuODE1LTIuMzgtMi44NC0yLjM4LTIuMzEsMC00LjA5LDEuNTctNC4wOSw0LjU3LDAsMi40NiwxLjA0LDQuMDgsMy42Nyw0LjA4LDAuODY3LDAsMS42NS0wLjE4NCwyLjI0LTAuMzg2LDAuMzQtMC4xMTYsMC42NjItMC4yMzMsMC45NTEtMC4zODRsLTAuNTA5LTEuMmMtMC4yNzIsMC4xMTgtMC41NDQsMC4yMTgtMC44MzIsMC4zMDEiIGZpbGw9IiM0Njc0ODciIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzYuMDAxLC00Ljc5KSI+PHBhdGggZD0iTTAsMC0wLjAwMS0wLjAwMSwwLjAzMSwwLjA2NCwwLDB6IiBmaWxsPSIjNDY3NDg3IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQ5LjI2NTEsNS45NjI5KSI+PHBhdGggZD0ibTAsMGMwLTAuODMxLDAuMDc2LTEuNjQsMC4yMTctMi40MS0xLjI0LTAuMjc2LTIuMzUtMC42MjYtMy4yNi0xLjA0LTAuMDQ5LDAuNDI4LTAuMDc0LDAuODM3LTAuMDc0LDEuMjIsMCwwLjYyNCwwLjAzOCwxLjI0LDAuMTEzLDEuODQsMC44NzksMC4zNDQsMS45MiwwLjYzOCwzLjA2LDAuODc3LTAuMDMzLTAuMTUzLTAuMDUtMC4zMTQtMC4wNS0wLjQ4NiIgZmlsbD0iIzQ2NzQ4NyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMC41MjU5LDIuMDkxOCkiPjxwYXRoIGQ9Im0wLDBjLTAuOTE3LDAuNTI3LTIuMTIsMC45NzUtMy41MiwxLjMzLDAuMTk1LDAuODc2LDAuMzAxLDEuNzgsMC4zMDEsMi42OCwwLDAuMDY2LTAuMDA0LDAuMTMxLTAuMDExLDAuMTk0LDEuMzItMC4zMTcsMi40Ny0wLjcxMywzLjM2LTEuMTgsMC4wNTItMC40NTgsMC4wNzktMC45MjQsMC4wNzktMS4zOSwwLTAuNDczLTAuMDcxLTEuMDMtMC4yMDctMS42NCIgZmlsbD0iIzQ2NzQ4NyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00Ny4yNzI1LC0wLjkxMTEpIj48cGF0aCBkPSJtMCwwYy0xLjUtMC4yNjMtMi44My0wLjYzNi0zLjg5LTEuMS0wLjM2MywxLTAuNjUyLDEuOTUtMC44NTQsMi44MiwwLjg3LDAuNDQ3LDIuMDMsMC44MjYsMy4zNywxLjEyLDAuMzM5LTEuMDUsMC44MDUtMi4wMSwxLjM3LTIuODQiIGZpbGw9IiM0Njc0ODciIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzQuNTE0NiwxLjgxMjUpIj48cGF0aCBkPSJNMCwwYzEuNTgtMC4zOTUsMi43OC0wLjg5MSwzLjUyLTEuMzktMC4yNzMtMC44MDItMC42MzItMS42OS0xLjA3LTIuNjQtMS4wMiwwLjUxNC0yLjM2LDAuOTMxLTMuOTEsMS4yMywwLjU5MiwwLjgzNywxLjA5LDEuNzksMS40NiwyLjgxIiBmaWxsPSIjNDY3NDg3IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQxLjc5NjQsMTUuMTE4MikiPjxwYXRoIGQ9Ik0wLDBjMi4zNiwwLDUuNzQtMC45Niw3LjYzLTIuNjYtMC4wNzMtMC4wMzgtMC4xNTItMC4wNzYtMC4yMzQtMC4xMTQtMi4xLDAuNDg2LTQuNiwwLjc1Mi03LjI2LDAuNzUyLTIuNDUsMC00LjgxLTAuMjM0LTYuODMtMC42NjMtMC4wNDEsMC4wMjItMC4wODUsMC4wNDItMC4xMjQsMC4wNjQsMi4wNSwxLjY3LDMuODQsMi42Miw2LjgyLDIuNjIiIGZpbGw9IiM0Njc0ODciIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNDEuODM3OSwtOS40MjM4KSI+PHBhdGggZD0iTTAsMGMtMi4wNSwwLTMuOTQtMC4yODYtNS4zMy0wLjc5NS0wLjQ5LDAuODM4LTAuOTUzLDEuNjYtMS4zOCwyLjQ2LDEuNjQsMC42NDEsNC4xMSwxLjAyLDYuNzEsMS4wMiwyLjY4LDAsNS4xOC0wLjM5OSw2LjgyLTEuMDctMC40NjItMC43ODMtMC45NTctMS41OS0xLjQ4LTIuNDItMS4zOSwwLjUxMS0zLjI4LDAuNzk4LTUuMzQsMC43OTgiIGZpbGw9IiM0Njc0ODciIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzEuMDU1Miw3LjIyNDYpIj48cGF0aCBkPSJtMCwwYy0xLjc0LDAuNjQ2LTMuOTQsMS4xMi02LjM5LDEuMzgtMS4yNywwLjIwMy0yLjg3LDAuMzQ3LTQuMzUsMC4zNTUtMS40MywwLjAwOC0yLjc0LTAuMTEyLTMuOTgtMC4zMTEtMi4yNC0wLjIwOS00LjMtMC41OTYtNi4wMS0xLjE0LDAuMzA2LDAuOTU0LDAuNzIxLDEuODQsMS4yNiwyLjYzLDIuMjQsMC44MjMsNS4zMSwxLjMyLDguNzMsMS4zMiwzLjczLDAsNy4zNy0wLjU5Miw5LjU4LTEuNTUsMC41My0wLjgxNSwwLjk1NC0xLjY5LDEuMjctMi42MS0wLjAzMy0wLjAyNC0wLjA3NC0wLjA0OS0wLjEwOS0wLjA3MyIgZmlsbD0iIzQ2NzQ4NyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00MS43OTY0LC00LjMzNSkiPjxwYXRoIGQ9Ik0wLDBjMS41OCwwLDMuMzMsMC43MjUsNC41NiwxLjg3LDEuODItMC4yNzUsMy4zOC0wLjcxMiw0LjQ2LTEuMjctMC40MTQtMC44MjYtMC44ODMtMS43LTEuNC0yLjYyLTEuODYsMC44MDctNC42NCwxLjI4LTcuNjYsMS4yOC0yLjkxLDAtNS42Mi0wLjQ0My03LjQ4LTEuMi0wLjQ2NCwwLjkzNS0wLjg4MSwxLjg0LTEuMjQsMi43LDEuMTUsMC41MiwyLjUyLDAuOTE1LDQuMzMsMS4xNiwxLjI3LTEuMiwyLjc1LTEuOTMsNC40My0xLjkzIiBmaWxsPSIjNDY3NDg3IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQ2LjI5MzksLTExLjY3OTcpIj48cGF0aCBkPSJNMCwwYzEuMTcsMC4zNzUsMi43NiwwLjU5LDQuNDYsMC41OSwxLjY4LDAsMy4yNS0wLjIxMSw0LjQyLTAuNTc4LTAuNTAyLTAuNzc0LTEuMDItMS41Ni0xLjU2LTIuMzUtMS4xMy0xLjA2LTEuNzQtMS4xLTIuODYtMS4xcy0xLjk3LDAuMTg2LTIuOTksMS4xM2MtMC41MDgsMC43NzQtMC45OTksMS41NS0xLjQ3LDIuMzEiIGZpbGw9IiM0Njc0ODciIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzQuNTE0NiwxLjgxMjUpIj48cGF0aCBkPSJNMCwwYzEuNTgtMC4zOTUsMi43OC0wLjg5MSwzLjUyLTEuMzktMC4yNzMtMC44MDItMC42MzItMS42OS0xLjA3LTIuNjQtMS4wMiwwLjUxNC0yLjM2LDAuOTMxLTMuOTEsMS4yMywwLjU5MiwwLjgzNywxLjA5LDEuNzksMS40NiwyLjgxIiBmaWxsPSIjNDY3NDg3IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQ1LjUxODYsMC4zNDU3KSI+PHBhdGggZD0ibTAsMGMwLTAuNTY1LDAuMjk5LTEuMDIsMC44NjMtMS4wMmg1LjgyYzAuNTYzLDAsMC43OTUsMC40NTYsMC43OTUsMS4wMnY1LjQ3YzAsMC41NjUtMC4yMzIsMC45ODgtMC43OTUsMC45ODhoLTUuODJjLTAuNTY0LDAtMC44NjMtMC40MjMtMC44NjMtMC45ODh2LTUuNDd6IiBmaWxsPSIjNDY3NDg3IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PHBhdGggZD0ibS0zNy41LDEuMzQtMS4xNSwwLDAtMC41NzUsMS4xNSwwLDAsMC41NzV6IiBmaWxsPSIjNDY3NDg3IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJtLTM3LjUsMi43OC0wLjg2MywwLDAtMC41NzUsMC44NjMsMCwwLDAuNTc1eiIgZmlsbD0iIzQ2NzQ4NyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0ibS0zNy41LDQuMjEtMC44NjMsMCwwLTAuNTc1LDAuODYzLDAsMCwwLjU3NXoiIGZpbGw9IiM0Njc0ODciIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Im0tMzcuNSw1LjY1LTAuODYzLDAsMC0wLjU3NSwwLjg2MywwLDAsMC41NzV6IiBmaWxsPSIjNDY3NDg3IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJtLTQ1LjUsMS4zNC0wLjg2MiwwLDAtMC41NzUsMC44NjIsMCwwLDAuNTc1eiIgZmlsbD0iIzQ2NzQ4NyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0ibS00NS41LDIuNzgtMC44NjIsMCwwLTAuNTc1LDAuODYyLDAsMCwwLjU3NXoiIGZpbGw9IiM0Njc0ODciIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Im0tNDUuNSw0LjIxLTAuODYyLDAsMC0wLjU3NSwwLjg2MiwwLDAsMC41NzV6IiBmaWxsPSIjNDY3NDg3IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJtLTQ1LjUsNS42NS0wLjg2MiwwLDAtMC41NzUsMC44NjIsMCwwLDAuNTc1eiIgZmlsbD0iIzQ2NzQ4NyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIxLjE1MTksMy41MTA3KSI+PHBhdGggZD0ibTAsMGMtMC43MzMsMC0xLjA4LDAuMDE4LTEuMzcsMHYtOC4yNmMwLjI4OCwwLDAuNDk3LTAuMDM4LDEuMDItMC4wMzgsMi42OSwwLDMuNywxLjcsMy43LDQuMjgsMCwyLjY4LTAuOTcxLDQuMDItMy4zNiw0LjAybS0wLjA4MS05Ljc5Yy0wLjU0NiwwLTEuMTksMC4wODEtMS44MiwwLjA3MS0wLjM0NiwwLjAxLTAuNzc5LDAuMDcyLTEuMTUsMC4wNzJoLTAuMzIzdjExLjJoMy4wMmM0LjA3LDAsNS45NS0yLjA3LDUuOTUtNS43OCwwLTMuNjgtMS44MS01LjU4LTUuNjctNS41OCIgZmlsbD0iIzQzNDI0MyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMC45NDkyLC0yLjEwNzQpIj48cGF0aCBkPSJtMCwwYzAuNjEsMCwxLjAzLDAuNCwxLjAzLDEuMDUsMCwwLjc2Ni0wLjgzLDEuNzMtMi45NSwxLjc4LDAuMDUxLTEuMzUsMC40MjMtMi44NCwxLjkyLTIuODRtMS41OCw1LjY0Yy0wLjQ3NSwwLjE1LTEuMDgsMC4yODMtMS41OCwwLjI4My0xLjMyLDAtMS43My0wLjg1MS0xLjg2LTEuODcsMi45OC0wLjA1LDQuODUtMS4zOCw0Ljg1LTMsMC0xLjM0LTAuODE0LTIuMzctMi44My0yLjM3LTIuMywwLTQuMDgsMS41Ny00LjA4LDQuNTUsMCwyLjQ1LDEuMDMsNC4wNywzLjY2LDQuMDcsMC44NjQsMCwxLjY0LTAuMTg0LDIuMjQtMC4zODQsMC4zMzktMC4xMTYsMC42NjEtMC4yMzQsMC45NS0wLjM4NGwtMC41MDktMS4yYy0wLjI3MiwwLjExNi0wLjU0MiwwLjIxNy0wLjgzLDAuMyIgZmlsbD0iIzQzNDI0MyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuMjQwNywtMi45NzU2KSI+PHBhdGggZD0iTTAsMGMwLjAxNywwLTAuMDAzLDAuMTczLDAuMDMxLDAuMzU2LDAuMDUxLDAuMzE4LDAuMDg1LDAuNzMyLDAuMDg1LDEuMTUsMCw0LjkyLTEuNDYsNi42Ni00LjYzLDYuNjYtMC43NjMsMC0xLjM0LTAuMjEtMS43Ni0wLjYyNy0wLjQ3NS0wLjQ2Ny0wLjcxMi0xLjE1LTAuNzEyLTIuMTdsMC4wNjYtNS4zNmgxLjkybC0wLjAzOSw1LjMxYzAsMC45MzQsMC4zMDYsMS41MiwxLjEsMS41MiwxLjYxLDAsMi4wOC0yLjYsMi4wOC01LjE0LDAtMC40NjctMC4wNTEtMC44NTYtMC4xMDItMS4yNC0wLjAzNC0wLjIxOCwwLjA0Ny0wLjQ0OSwwLjAzLTAuNDQ5aDEuOTJ6IiBmaWxsPSIjNDM0MjQzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNC4yODkxLC01Ljc5MzkpIj48cGF0aCBkPSJtMCwwYzAsMC42NjgtMC4zOSwxLjE4LTEuMTksMS4xOC0wLjcyOCwwLTEuMTQtMC41MTctMS4xNC0xLjEzLDAtMC42ODUsMC4zOS0xLjIsMS4xOS0xLjIsMC43MjksMCwxLjE0LDAuNDgzLDEuMTQsMS4xNSIgZmlsbD0iIzQzNDI0MyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIuMDY0OSwzLjQwOTIpIj48cGF0aCBkPSJtMCwwLDAtNi4zOCwyLjAyLDAsMC4wMTgsNi4xM2MwLDAuNTE3LDAuMTUyLDAuNjE1LDAuNDc1LDAuNjE1LDAuMDg0LDAsMC4yMDMtMC4wMTgsMC4yODgtMC4wMzUsMC4wNTEsMCwwLjEwMS0wLjAwOSwwLjE1Mi0wLjAyNWwwLjIwMywxLjIxYy0wLjA4NCwwLjA0OS0wLjE4NiwwLjA4LTAuMzA0LDAuMTE0LTAuMjA0LDAuMDY2LTAuNTU4LDAuMTE1LTAuOTY1LDAuMTE1LTEuMiwwLTEuODktMC42MjMtMS44OS0xLjc0IiBmaWxsPSIjNDM0MjQzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMTUzOCwtMS4yNTU5KSI+PHBhdGggZD0ibTAsMGMtMC4zMzktMC4zODQtMC42NDUtMC42ODUtMS4yLTAuNjg1LTAuNjk1LDAtMS43OCwwLjIzNS0xLjc4LDIuODIsMCwyLjYsMS4wNywyLjk0LDEuODYsMi45NCwwLjMyMiwwLDAuNzEyLTAuMDgzLDEuMDUtMC4xNjYsMC4yMDQtMC4wNSwwLjQwNy0wLjEsMC41OTMtMC4xNjdsMC40NzUsMS4yMmMtMC4xODcsMC4xLTAuNDA3LDAuMTg0LTAuNjYxLDAuMjUtMC40MjMsMC4xMzQtMSwwLjI1LTEuNzMsMC4yNS0yLjYxLDAtMy43LTEuNjItMy43LTQuMDcsMC0yLjk0LDEuNy00LjU2LDMuODgtNC41NiwxLjA3LDAsMS43OCwwLjQxNywyLjMsMS4xM2wtMS4xLDEuMDR6IiBmaWxsPSIjNDM0MjQzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTYuOTUxMiwtMi4xMDc0KSI+PHBhdGggZD0ibTAsMGMwLjYxLDAsMS4wMywwLjQsMS4wMywxLjA1LDAsMC43NjYtMC44MzEsMS43My0yLjk1LDEuNzgsMC4wNS0xLjM1LDAuNDIzLTIuODQsMS45Mi0yLjg0bTEuNTgsNS42NGMtMC40NzQsMC4xNS0xLjA4LDAuMjgzLTEuNTgsMC4yODMtMS4zMiwwLTEuNzMtMC44NTEtMS44Ni0xLjg3LDIuOTgtMC4wNSw0Ljg1LTEuMzgsNC44NS0zLDAtMS4zNC0wLjgxMy0yLjM3LTIuODMtMi4zNy0yLjMsMC00LjA4LDEuNTctNC4wOCw0LjU1LDAsMi40NSwxLjAzLDQuMDcsMy42Niw0LjA3LDAuODY0LDAsMS42NC0wLjE4NCwyLjI0LTAuMzg0LDAuMzM5LTAuMTE2LDAuNjYtMC4yMzQsMC45NDktMC4zODRsLTAuNTA4LTEuMmMtMC4yNzIsMC4xMTYtMC41NDMsMC4yMTctMC44MzEsMC4zIiBmaWxsPSIjNDM0MjQzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PC9nPjwvZz48L2c+PC9nPjwvc3ZnPg0NCg==) no-repeat;
	height: 100%;
	background-size: contain;
	display: inline-block;
	width: 210px;
	vertical-align: middle;
}

.header .key-box {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin: 20px 0;
	width: 420px;
	font-size: 14px;
}

.key-box .input-accesskey {
	width: 83%;
}

.input-data {
	background: rgba(70, 116, 135, .15);
	border: none;
	border-radius: 6px;
	height: 20px;
	text-indent: 5px;
}

.key-box .input-accesskey:focus,
.input-data:focus {
	outline: none;
}

.content {
	padding: 20px;
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

.content .form-block {
	margin-bottom: 20px;
}

.form-block label {
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

.form-block label.pin-label {
	margin: 10px 0 20px 0;
}

.form-block textarea {
	width: 70%;
	height: 200px;
	overflow-x: auto;
	resize: vertical;
	margin: 10px 10px 0 0;
	vertical-align: top;
}

.form-block .btn_event.btn_convert {
	width: 180px;
  height: 60px;
  margin: 10px 0 0 0;
}

.form-block .btn_event.btn_convert:hover {
	background: #196437;
	color: #fff;
}

.description {
	margin: 0 0 20px 0;
	font-size: 14px;
}

.description_list {
	padding: 0;
	list-style: none;
}

.description_list li {
	margin: 5px 0;
}

.btn_event {
	cursor: pointer;
	outline: none;
	min-width: 100px;
	width: auto;
	height: 30px;
	padding: 0 20px;
	border-radius: 10px;
	border: none;
	font-size: 16px;
}

.btn_event:hover {
	background: #467487;
	color: #fff;
}

.btn_event.btn_event_green,
.btn_event.btn_event_red {
	color: #ffffff;
}

.btn_event.btn_event_green {
	background: #4C9A6C;
}

.btn_event.btn_event_green:hover {
	background: #196437;
}

.btn_event.btn_event_red:hover {
	background: #86212D;
}

.btn_event.btn_event_red {
	background: #CD6672;
}

.output-status {
	margin: 20px 0;
}

#plength {
	margin: 20px 0;
}

.group-box {
	margin: 10px 0;
}

.group-box .group-box_title {
	display: inline-block;
	margin-right: 20px;
	min-width: 70px;
}

.group-box button {
	margin-right: 20px;
}

.welcome-title {
	text-align: center;
}

a {
	color: #467487;
}

a:visited {
	color: #CD6672;
}

a:hover {
	color: #4C9A6C;
}

.input-controller{
	width: 400px;
}

.input-controller{
	margin: 0 0 20px 0;
}
.extra-margin-top {
	margin-top: 20px;
}
.margin-reset{
	margin: 0 !important;
}
